@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center mb-4 fw-bold">Welcome to myWeek</h1>
<h1 class="display-4 text-center mb-4 fw-bold">
    A platform built for a new way of working
</h1>
<div class="col-md-10 offset-md-1 text-justify" style="font-size: 22px; text-align: justify;">
    <p>
        Centralize all your work, processes, tools, and files into one Work OS. Connect teams, bridge silos, and maintain one source of truth across your organization.
    </p>

    <p>
        Collaborate effectively organization-wide to get a clear picture of all your work. Stay in the loop with easy-to-use automations and real-time notifications.
    </p>

    <p>
        Get a high-level overview of your organization with customizable dashboards. Make confident decisions and easily scale workflows for your evolving needs.
    </p>
    <p>
        Automate routine tasks so you can focus on the work that matters. Prioritize tasks, set due dates, and check statuses with a glance.
    </p>
    <img src="~/images/task.jpeg" width="1080"/>

    </div>

